
<template functional>
    <footer class="the-footer flex-wrap justify-between" :class="classes">
        <p>
          <span>Reto </span>
          <a href="https://1.envato.market/vuexy_admin" target="_blank" rel="nofollow">Front End Developer</a>
          <span class="hidden sm:inline-block">, Gustavo Sandoval</span>
        </p>
        <span class="md:flex hidden items-center">
            <span>Hecho con VueJS</span>
        </span>
    </footer>
</template>

<script>
export default {
    name: "the-footer",
    props: {
        classes: {
            type: String,
        }
    }
}
</script>
