<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" id="page-login">
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="full-page-bg-color br-1">

          <div class="vx-row no-gutter justify-center items-center">

            <div class="vx-col lg:block lg:w-1/2">
              <img src="@/assets/images/logo/logo-login.png" alt="login" class="w-100">
            </div>

            <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg br-1">
              <div class="p-8 login-tabs-container center-res">

                <div class="vx-card__title mb-4">
                  <h4 class="mb-4">INICIAR SESIÓN</h4>
                  <p class="mb-4">Ingresa con los siguientes datos para iniciar sesión.</p>
                  <p>Email: <strong>reto@front-end.com</strong></p>
                  <p>Contraseña: <strong>123456</strong></p>
                </div>

                <div>
                  <vs-input
                      name="email"
                      icon-no-border
                      icon="icon icon-user"
                      icon-pack="feather"
                      label-placeholder="Email"
                      v-model="email"
                      class="w-full"/>

                  <vs-input
                      type="password"
                      name="password"
                      icon-no-border
                      icon="icon icon-lock"
                      icon-pack="feather"
                      label-placeholder="Contraseña"
                      v-model="password"
                      class="w-full mt-6 mb-5" />

                  <vs-button class="" @click="iniciarSesion">Iniciar sesión</vs-button>

                </div>

              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
export default{
  data() {
    return {
      validacion: true,
      email: "",
      password: "",
      checkbox_remember_me: false,
    }
  },
  methods: {
    iniciarSesion () { 
      this.validacion = true;
      
      if( this.email == null || this.email.length == 0 || /^\s+$/.test(this.email) || this.email != 'reto@front-end.com' ) {
        this.validacion = false;
      }

      if( this.password == null || this.password.length == 0 || /^\s+$/.test(this.email) || this.password != '123456') {
        this.validacion = false;
      }

      if ( this.validacion ) {
        this.$router.push('/')
      } else {
        alert('Datos incorrectos');
      }
    }
  }
}
</script>