<template> 
  <vx-card title="Colores">

    <p>Da clic sobre la tarjeta para copiar el código del color, vuelve a dar clic para ver el nombre y código en la tarjeta</p>

    <div class="mt-5">
      <div class="vx-row">

        <div class="vx-col w-full sm:w-1/2 lg:w-1/3 mb-base" v-for="(color, index) in colors" :key="color.id">
            <vx-card class="cursor-pointer" :style="{ 'background-color': color.color }" @click="copied(index, color.id)">
              <div class="flex flex-col text-let">
                <h4>{{ color.year }}</h4>
              </div>
              <div class="flex flex-col items-center minh-120" :id="color.id">
                <h4>{{ color.name }}</h4>
                <h4>{{ color.color }}</h4>
              </div>
              <div class="flex flex-col text-right">
                <h4>{{ color.pantone_value }}</h4>
              </div>
            </vx-card>
        </div>

        <div class="m-0-a">
          <vs-button class="pagination-vue mr-2 ml-2" radius color="primary" type="filled" v-for="i in paginasTotales" :key="i" @click="pantonePaginas(i)">{{ i }}</vs-button>
        </div>
        
      </div>         
    </div>
  </vx-card>

</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      colors: [],
      copiado: false,
      paginaActual: 1,
      paginasTotales: 0,
    }
  },
  mounted() {
    this.pantone();
  },
  methods: {
    async pantone () { 
      const data = await axios.get('https://reqres.in/api/colors?page=' + this.paginaActual);

      console.log(data);

      this.colors = data.data.data;

      this.paginasTotales = data.data.total_pages;
    },
    async pantonePaginas (page) { 
      const data = await axios.get('https://reqres.in/api/colors?page=' + page);

      console.log(data);

      this.colors = data.data.data;

      this.paginasTotales = data.data.total_pages;
    },
    copied (index, id) { 

      if ( this.copiado == false ) {
        var div = document.getElementById(id).innerHTML = "";

        var node = document.createElement("h1");
        var textnode = document.createTextNode("¡Copiado!"); 
        node.appendChild(textnode);

        document.getElementById(id).appendChild(node);

        navigator.clipboard.writeText(this.colors[index].color)
        .then(() => {
          console.log('Text copied to clipboard');
        })
        .catch(err => {
          // This can happen if the user denies clipboard permissions:
          console.error('Could not copy text: ', err);
        });


        this.copiado = true;
      } else {

        var div = document.getElementById(id).innerHTML = "";

        var node1 = document.createElement("h4");
        var textnode1 = document.createTextNode( this.colors[index].name ); 
        node1.appendChild(textnode1);

        var node2 = document.createElement("h4");
        var textnode2 = document.createTextNode( this.colors[index].color ); 
        node2.appendChild(textnode2);

        document.getElementById(id).appendChild(node1);
        document.getElementById(id).appendChild(node2);

        this.copiado = false;
      }
       
    }, 
    paginas () {
      console.log('paginas');
    }

  }
}
</script>

<style lang="scss">
  .minh-120 {
    min-height: 120px;
    justify-content: center;
  }
  .pagination-vue {
    width: 40px;
    height: 40px;
  }
  .m-0-a {
    margin: 0 auto;
  }
</style>