<template>
	<div id="page-user-view">
		<vx-card title="Información de postulado" class="mb-base">

			<div class="vx-row vertical-center">

				<div class="vx-col" id="avatar-col">
					<div class="img-container mb-4">
					<img src="@/assets/images/portrait/small/gus.jpg" class="rounded w-full" />
					</div>
				</div>
				<div class="vx-col flex-1" id="account-info-col-1">
					<table>
					<tr>
						<td class="font-semibold">Nombre:</td>
						<td>Gustavo Sandoval</td>
					</tr>
					<tr>
						<td class="font-semibold">Vacante:</td>
						<td>Desarrollador Front End Jr.</td>
					</tr>
					</table>
				</div>
				<div class="vx-col flex-1" id="account-info-col-2">
					<table>
					<tr>
						<td class="font-semibold">Email:</td>
						<td>gustavo.s@devss.com.mx</td>
					</tr>
					<tr>
						<td class="font-semibold">Teléfono:</td>
						<td>55 4869 9095</td>
					</tr>
					</table>
				</div>
			
			</div>
		</vx-card>

		<div class="vx-row">
			<div class="vx-col lg:w-1/4 w-full">
				<vx-card title="Tecnologías usadas" class="mb-base">
					<p>Se dició usar VueJS como marco progresivo para la construcción del IU ya que cuenta con herramientas modernas y bibliotecas de soporte. 
						Para esta aplicación, su desarrollo se facilita con las distintas herramientas que se utilizaron, entre ellas Tailwind como marco CSS, 
						ya que viene con todo tipo de componentes siendo efectivo en nuestra app. 
						De igual manera se pensó utilizar VueJS y demás tecnologías pensando en el desarrollo de herramientas futuras que Chedraui necesite. 
					</p>
					<div class="vx-row vertical-center justify-center">
						<div class="vx-col w-full sm:w-1/2 lg:w-full mb-base">
							<img class="m-0-a" width="70%" src="@/assets/images/pages/vuejs.jpg" alt="">
						</div>
						<div class="vx-col w-full sm:w-1/2 lg:w-full mb-base">
							<img class="m-0-a" width="70%" src="@/assets/images/pages/tailwind.jpg" alt="">
						</div>					
					</div> 
				</vx-card>
			</div>

			<div class="vx-col lg:w-3/4 w-full">
				<div class="vx-col w-full">
					<vx-card title="Introducción" class="mb-base">
						<div class="vx-row vertical-center">

							<div class="vx-col w-full sm:w-1/2 lg:w-1/3 mb-base">
								<img width="100%" src="@/assets/images/pages/app-colores.png" alt="">
							</div>
							<div class="vx-col w-full sm:w-1/2 lg:w-2/3 mb-base">
								<p>El equipo de dedesarrollo de Chedraui haciendo uso de tecnologías como VueJs y Tailwind como framework ha diseñado y desarrollado con ayuda de 
									una API (consumidad con Axios) una aplicación de colores para que los demás departamentos y diseñadores puedan tener acceso a los colores que se van a utilizar para 
									todos los productos; páginas web, nuevos diseños, flyers y hasta para redes sociales.
								</p>
								
							</div>
							
						</div> 
					</vx-card>
				</div>
				<div class="vx-col w-full">
					<vx-card title="Implementación" class="mb-base">
						<div class="vx-row vertical-center">
							<div class="vx-col w-full sm:w-1/2 lg:w-3/4 mb-base">
								<p class="mb-5">
									Para el control y obtención de la app, se ha subido en un repositorio público de Gitlab.  
								</p>
								<ul class="mb-8">
									<li>1) Dirigase a <a href="https://gitlab.com/GusMac/app_colors" target="_blank">https://gitlab.com/GusMac/app_colors</a></li>
									<li>2) Clone el proyecto a su computadora.</li>
									<li>3) Abra su aplicación de consola favorita.</li>
									<li>4) Navegue a la carpeta e instale paquetes usando el siguiente comando: <strong>npm install</strong></li>
									<li>5) Para ejecutar el proyecto a nivel local: <strong>npm run serve</strong></li>
									<li>6) Abra <strong>http://localhost:8080</strong> para verlo en el navegador.</li>									
								</ul>
								<h5>Netlify</h5>
								<p>Para una rápida visualización, prueba e implementación de la app, se ha subido a una cuenta de Netlify. Solo debes dirigirte a la siguiente ruta:</p>
								<a href="https://app-colors-front-end-developer.netlify.app/" target="_blank">https://app-colors-front-end-developer.netlify.app/</a>
							</div>
							<div class="vx-col w-full sm:w-1/2 lg:w-1/4 mb-base">
								<img width="100%" src="@/assets/images/pages/gitlablogo.png" alt="">
							</div>	
						</div> 
					</vx-card>
				</div>
			</div>
			
		</div>        

	</div>
</template>

<style lang="scss">
#avatar-col {
  width: 10rem;
}

#page-user-view {
  .m-0-a {
	margin: 0 auto;
  }

}

#page-user-view table td {
    min-width: 100px;
}

.vertical-center {
	align-items: center;
}

@media only screen and (max-width: 991px) {
  #avatar-col {
	margin: 0 auto;
  }
}

</style>